{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>gg, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}
    <h2>Extra Functions</h2>
{#    <body>#}
    <li><a href="{{ url_for('original_ip') }}"><code>Click_To_Get_Original_IP</code></a>Show Original IP</li>
    <li><a href="{{ url_for('view_uuid') }}"><code>Click_To_Get_UUID</code></a>Show UUID</li>
    <li><a href="{{ url_for('view_useragent') }}"><code>Click_To_Get_USER-AGENT</code></a>Show User-Agent</li>
    <li><a href="{{ url_for('view_headers') }}"><code>Click_To_Get_Headers</code></a>Show Headers</li>
    <li><a href="{{ url_for('view_my_html') }}"><code>/html</code></a>Show HTML</li>
    <li><a href="{{ url_for('encoding') }}"><code>/encoding/utf8</code></a>Show utf8demo.txt</li>
    <li><a href="{{ url_for('image_png') }}"><code>/image/png</code></a> Returns a PNG image.</li>
    <li><a href="{{ url_for('image_jpg') }}"><code>/image/jpg</code></a> Returns a JPG image.</li>
    <li><a href="{{ url_for('image_svg') }}"><code>/image/svg</code></a> Returns a SVG image.</li>
    <li><a href="{{ url_for('image_webp') }}"><code>/image/webp</code></a> Returns a WEBP image.</li>
    <li><a href="{{ url_for('view_get') }}"><code>/get</code></a> Returns a Get Content</li>
    <li><a href="{{ url_for('view_cookies') }}"><code>/cookies</code></a> Return cookies data.</li>
    <li><a href="{{ url_for('view_xml') }}"><code>/xml</code></a> Return xml data.</li>
{#    <li><a href="{{ url_for('set_cookies', k1='v1', k2='v2') }}"><code>/cookies/set?name=value</code></a> Sets one or more simple cookies.</li>#}
{#    <li><a href="{{ url_for('original_ip') }}"><code>Click_To_Get_Original_IP</code></a>Show Original IP</li>#}
{#    <li><a href="{{ url_for('original_ip') }}"><code>Click_To_Get_Original_IP</code></a>Show Original IP</li>#}
{#    <li><a href="{{ url_for('original_ip') }}"><code>Click_To_Get_Original_IP</code></a>Show Original IP</li>#}
{#    <li><a href="{{ url_for('original_ip') }}"><code>Click_To_Get_Original_IP</code></a>Show Original IP</li>#}
{#    <li><a href="{{ url_for('original_ip') }}"><code>Click_To_Get_Original_IP</code></a>Show Original IP</li>#}
{#    </body>#}
{% endblock %}

